<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="employee/base4::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>

<section>
    <h1 style="color:rgb(56, 3, 41);"><u><b>Company Policies:</b></u></h1>
    <p ><b><i>The initiatives aim to provide sellers a smooth and convenient experience on its platform with a host of new capabilities, programs and benefits to nurture their growth.</p>

    <p > These new features and capabilities focus on ease of doing online business for MSMEs and supporting their sustainable growth. They include Easy Settlements, Simplified Rate Card, Single Final Settlement Value for the sellers, Reduction in the Platform Fee, growth programs - Flipkart Ignite and Business Experts to hand-hold sellers; AI-led cataloging support and other policies to drive more profitably for them on the Flipkart platform.</p>

    <p > Jagjeet Harode, Senior Director and Head ? Marketplace, Flipkart, said, ?Enabling the growth and success of our seller partners is a key priority for Flipkart. We are committed to finding technology-based solutions to address the needs and challenges of the seller ecosystem.</p>

    <p >We have introduced the second phase of the Flipkart EDGE initiative to ensure sustained growth and ease of doing business online. The future of business is digital, and the initiatives and innovations we have introduced will help our MSME and seller partners take important steps towards making their business more resilient, profitable, and future-ready.?</p>

    <p > Policy changes and tech capability details uniformly for existing and new sellers on Flipkart Marketplace:</p>

    <p ><strong>Easy Settlements and Simplified Costs:</strong></p>
    <p >All New Simplified Rate Card: The initiative will enable sellers to understand their profit margin/commissions, fixed fees, and shipping fees through a simplified rate card. Sellers on the platform will not face the complication of various criteria for pricing basis location, shipping fee and payment mode.</p>
    <p >Single Final Settlement Value: Sellers will get one assured settlement value irrespective of service profile, zone or payment mode. This will bring high degree of predictability for the sellers, thus making it easier for them to operate online.</p>
    <p >Reduction in Operating costs:</p>
    <p >Flat and Reduced Return Cost: Reduced and flat return costs for product listings giving a good customer experience will reduce the cost to sellers and enable them to earn more.</p>
    <p >Revamped F-Assured Criteria at Lower Cost: Through this initiative, sellers will be able to claim/maintain the F-Assured badge in the future by complying with new eligibility criteria without incurring additional operational costs due to separate inventory, having dedicated manpower or space in the warehouses. This will also improve the speed of order processing and reduce business costs for MSMEs with Flipkart.</p>
    <p >Catalog Cost Reduction: In a step towards democratizing e-commerce for all, catalog creation through an AI-led image editing solution has resulted in significant cost reduction for all sellers across the verticals.</p>
    <p >Affordable Packaging Options: Affordable packaging options provided by Flipkart for all shipments resulting in cost savings for all sellers.</p>
    <p >Growth Programs:</p>
    <p >Flipkart Ignite is a dedicated training and incubation program offered by Flipkart to support the growth of sellers who have been newly onboarded onto the platform. The program is open to all Flipkart sellers. This also includes facilities such as free ad credits, exclusive training sessions, image editing, and catalog creation, amongst many others.</p>
    <p >Business Experts program aims to enhance the journey and progress of existing sellers on the platform who wish to grow their business performance further. Flipkart offers various account management services, including ad support, insights on pricing and selection, CareTouch for quicker resolutions for business-related queries, event planning, leadership connect, and more.</b></i></p>
    <h1 style="color:red;"><u><b>Company Scheme:</u></b></h1>
    <p >The world, as a whole, is on a lockdown currently due to the unprecedented situation regarding public health and safety caused by the Coronavirus (COVID-19) pandemic. The Ministry of Corporate Affairs, in an attempt to ease matters for the companies, has introduced a new scheme known as the Companies Fresh Start Scheme, 2020 (CFSS).</p>

    <p >   Additionally, the MCA has also given the LLPs a bit of breathing space by making certain necessary changes to the LLP Settlement Scheme, 2020. The idea behind this is to provide a clean slate to all those law-abiding companies, giving them extended time and a certain level of financial relief with regard to compliances considering the current global situation.</p>
<!--    <Body background="https://i.picsum.photos/id/1000/5626/3635.jpg?hmac=qWh065Fr_M8Oa3sNsdDL8ngWXv2Jb-EE49ZIn6c0P-g"  />-->

</section>
</body>
</html>