<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="employee/base1::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>settings</title>


</head>
<body>

<section>

    <div id="login">

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="#"  th:action="@{/employee/change-password}"  method="post" >
<!--                            <h3 class="text-center ba ">Change Password</h3>-->
<!--                            <div th:if="${param.error}" class="alert alert-danger">-->
<!--                                Invalid UserName & Password-->
<!--                            </div>-->
<!--                            <div th:if="${param.logout}" class="alert alert-success">-->
<!--                                Succesfully Logout-->
<!--                            </div>-->
                            <div class="container text-center">
                                <img width="100px" height="100px" src="https://tse1.mm.bing.net/th?id=OIP.EJ2RbYxmA2al5U9lA0SiXgHaHa&pid=Api&P=0"/>
                            </div>
                            <div th:if="${session.message}" class="container">
                                <div th:classappend="${'alert-'+session.message.type}"class="alert text-center">
                                    <span th:text="${session.message.content}"></span>
                                </div>
                                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                            </div>

                            <div class="form-group">
                                <label for="username" class="ba">Old Password:</label><br>
                                <input type="text" name="oldPassword" id="username" class="form-control" placeholder="Enter Old Password">
                            </div>
                            <div class="form-group">
                                <label for="password" class="ba">New Password:</label><br>
                                <input type="password" name="newPassword" id="password" class="form-control" placeholder="Enter new password">
                            </div>
                            <div class="form-group" >
                                <br>
                                <div class="text-center container">
<!--                                    <input type="submit"  style="background-color:blue;border-radius:10px;" name="submit" class="btn  btn-block btn-md text-white" value="Submit">-->
                                    <input type="submit"   name="submit" class="btn-hover color-3" value="Submit">

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>