<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="employee/base::layout(~{::section})" >
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>

<section>




<!--    <tr th:each="c:${attendence}">-->
<!--        <span th:text="${c.doa}"></span>-->
<!--    </tr>-->


    <div class="card my-card  mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Attendence Details</h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Emp Code</th>
                    <th scope="col">Date of Attendence</th>
                    <th scope="col"> Attendence Timing</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${attendence}">
                    <th scope="row">  <span th:text="${c.aid}"></span></th>
                    <td><span th:text="${c.name}"></span></td>
                    <td><span th:text="${c.code}"></span></td>
                    <td><span th:text="${c.doa}"></span></td>
                    <td> <span th:text="${c.time}"></span></td>
                </tr>

                </tbody>
            </table>



        </div>
    </div>
</section>
</body>
</html>